Flask
pytest
flask_cors
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-instrumentation-openai
fastapi
uvicorn
anthropic
starlette
pydantic
uuid>=1.30
numpy
nltk
torch
transformers
openai
google-generativeai
retry
rich
sentry_sdk
nest_asyncio
Dbias  # Optional, for bias detection
allennlp  # Optional, for decomposable attention model